<form action="" class="flex-ns mb3">


<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a54de793fe56d59092b4235bf/c56272a46d87d531e798419ef.js");</script>

<!--
  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Your email" class="w-100">
    <label for="email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>
-->
</form>
